<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>BoatLab</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key></key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.925770804748-rdiej9mn3loeufoais4t8lda2i89io5u</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>영수증 이미지를 가져오기 위해 사진 보관함 접근 권한이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>jalnan2.ttf</string>
		<string>noto_sans_kr_bold.ttf</string>
		<string>noto_sans_kr_medium.ttf</string>
		<string>noto_sans_kr_regular.ttf</string>
		<string>noto_sans_kr_semibold.ttf</string>
		<string>poppins_semibold.ttf</string>
		<string>pretendard_bold.ttf</string>
		<string>pretendard_medium.ttf</string>
		<string>pretendard_regular.ttf</string>
		<string>pretendard_semibold.ttf</string>
	</array>
</dict>
</plist>
